# Logs
logs
*.log
npm-debug.log*

# Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

# Dependency directories
node_modules
bower_components

#dist
dist/css
dist/scripts
dist/fonts

#mac 
**/.DS_Store

#heroku
.env
